<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <title>Vue two tuto</title>
        <link
            href="styles.css"
            rel="stylesheet"
        />
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.14/dist/vue.js"></script>
    </head>
    <body>
        <div id="vue-app">
            <h1>{{greet()}}</h1>
            <h1>Name: {{name}}</h1>
            <h1>Job: {{job}}</h1>
            <!-- v-bind is a directive to bind the attribute href to dynamic data -->
            <!-- can use :href instead of v-bind:href as a shorthand -->
            <a :href="website">WEBSITE</a>
            <!-- .prevent modifier to prevent default behaviour, if we click on link website will not open, only log will generate -->
            <a
                v-on:click.prevent="click"
                v-bind:href="website"
            >
                WEBSITE 2nd version
            </a>
            <!-- insert html inside tag using v-html -->
            <p v-html="websiteTag"></p>
            <input
                type="text"
                v-bind:value="name"
            />
            <!-- .once modifier will make the event run only once -->
            <button @click.once="add(1)">++</button>
            <button v-on:click="subtract(1)">--</button>
            <button @dblclick="add(10)">Add 10</button>
            <button v-on:dblclick="subtract(10)">Subtract 10</button>
            <p>My age is {{age}}</p>
            <div
                id="canvas"
                v-on:mousemove="calcPos"
            >
                {{x}}, {{y}}
            </div>
            <!-- chaining modifiers -->
            <input
                type="text"
                v-on:keyup.alt.enter="logValue"
            />
            <input
                type="text"
                v-model="name"
            />
            {{name}}
            <h3>Computed</h3>
            <div>
                <button v-on:click="A++">Add to A</button>
                <button v-on:click="B++">Add to B</button>
                <p>A - {{A}}</p>
                <p>B - {{B}}</p>
                <p>Age + A == {{addToA}}</p>
                <p>Age + B == {{addToB}}</p>
            </div>
            <h3>Bind and toggle classes</h3>
            <!-- bind class values using {}, class: true or class:false -->
            <div
                v-on:click="available = !available"
                v-bind:class="{available:available}"
            >
                <h1>TEXT</h1>
            </div>
            <button v-on:click="available = !available">
                toggle available
            </button>
            <button v-on:click="nearby = !nearby">toggle nearby</button>
            <div v-bind:class="compClasses">
                <h1>TEXT</h1>
            </div>
            <div>
                <h3>Conditionals</h3>
                <button v-on:click="error = !error">Toggle Error</button>
                <button v-on:click="success = !success">Toggle Sucess</button>
                <!-- if error is false then only else if will run, v-show is like v-if but it just sets display none
                whereas v-if removes the element from the DOM-->
                <p v-if="error">ERROR</p>
                <p v-else-if="success">SUCCESS</p>
                <button v-on:click="error = !error">Toggle SHOW Error</button>
                <button v-on:click="success = !success">
                    Toggle SHOW Sucess
                </button>
                <p v-show="error">ERROR</p>
                <p v-show="success">SUCCESS</p>
            </div>
            <div>
                <h3>Looping over data</h3>
                <ul>
                    <!-- can loop over any element and it will be inserted into the DOM -->
                    <li v-for="character in characters">{{character}}</li>
                    <li v-for="(ninja,index) in ninjas">
                        {{index}} -- Name: {{ninja.name}} -- Age: {{ninja.age}}
                    </li>
                </ul>
                <!-- templates dont get inserted, in the DOM it will be a list of p tags only -->
                <template v-for="(character,index) in characters">
                    <p>{{index}} -- {{character}}</p>
                </template>
                <!-- cycling over objects -->
                <template v-for="ninja in ninjas">
                    <div v-for="(val,key) in ninja">{{key}} -- {{val}}</div>
                </template>
            </div>
        </div>
        <script src="app.js"></script>
    </body>
</html>
